/* header 页眉 */
body{
	background-color:#dedede;
}
#h-top{
	height:50px;
	background-color: #006400;
	position: relative;
}
	.logo{
		height: 50px;
		margin-right:5px
	}
	.h-top-a-text{
		color: white;
		font-size: 20px;
		margin:15px 8px;
	}
	.h-top-a-img{
		height:30px;
		margin:10px 6px;
	}
	.search-input{
		width:200px;
		height:20px;
		margin:12px 0px 15px 15px;
	}
	.search-button{
		width:43px;
		height:26px;
		margin:12px 15px 15px 2px;
	}

/* footer 页脚 */
#footer_img{
	width:100%;
	height:250px;
	background:url("../img/background/footer.svg") no-repeat;
	background-size:auto 230px;
	background-position: 50% 50%;
}
#h-bottom{
	width:1000px;
	height:250px;
	margin: 0px auto;
	/* background-color: darkgreen; */
}
	.footer_menu{
		width:160px;
		height:200px;
		margin:25px 20px;
		/* background-color: darkblue; */
	}
		#footer_menu1{width:300px;}
		#footer_menu4{width:220px;}
	
	.footer_menu .s_title{font-weight:700;line-height:32px;color:#808080}
	.footer_menu h4{line-height:32px}

/* 作品内容 */
#game_box{
	width:1050px;
	margin:50px auto;
}
	#game_title{
		height:35px;
	}
	#game_name{
		float: left;
	}
	#game_author{
		float: left;
		margin-left:20px;
	}
	#game_author img{
		display: block;
		float: left;
		width:32px;
		height:32px;
		border-radius:50%;
	}
	#game_author_name{
		font-weight:400;
		float:left;
		position:none;
		margin-left:5px;
		font-size:22px;
		line-height:32px;
	}
	#game_author img,#game_author_name:hover{
		cursor: pointer;
		text-decoration: underline;
	}
	#game_title_show{
		float: right;
		margin-right: 50px;
		position:relative;
		top:10px;
	}

#game_body{
	width: 100%;
}

#game_box_left{
	width:500px;
	float: left;
}
#game_box_middle{
	width:296px;
	height:400px;
	float:left;
	background-color:#dfeeec;
	border:2px solid black;
	border-radius:10px;
	margin-top:20px;
	padding:20px;
	overflow: auto;
}
	#game_box_middle p{
		text-indent:2em;
		margin:15px auto;
		line-height:1.4;
	}
	#game_box_middle h3{
		font-weight:700;
	}
#game_box_right{
	float:left;
	width:200px;
	margin:20px 0px 0px 10px;
	/* background-color:#bde5d4; */
	border-radius:10px;
}
	#game_box_right .game_show_img{
		display:block;
		width:100%;
		height:120px;
		background-color: #b5d0b5;
		background-size: 100% 100%;
		border-radius:10px;
	}
	#game_box_right h4{
		display:block;
		line-height:32px;
		text-align: center;
	}
	#game_box_right .game_show_img,#game_box_right h4:hover{
		cursor: pointer;
		text-decoration: underline;
	}
#game_window{
	margin:20px 0;
	display:block;
	background-color:#ffffff;
	border:5px solid #808080;
	border-radius:10px;
}
.button_set_box{
	display:block;
	width:50px;
	height:50px;
	margin:0px 10px 20px 0px;
	background-color: skyblue;
	float: left;
	border-radius:5px;
}
.button_set_box:hover{cursor:pointer}
	.button_set_box img{
		display: block;
		width:25px;
		height:25px;
		margin:0 auto;
		margin-top:4px;
	}
	.button_set_box div{
		text-align: center;
	}
#game_introduction{
	float:left;
}

/* 更多游戏界面 */
#moregame #title{
	font-size: 32px;
	text-align: center;
	line-height: 50px;
}
#game_genre_select_box{
	height:30px;
}
	#game_genre_select_box #box1 div{
		width:50px;
		height:30px;
		float: left;
		background-color: #006400;
	}
#moregame #moregame_box{
	width: 1100px;
	margin:10px auto;
}
	.game_show_box{
		width:200px;
		height: 180px;
		margin:10px;
		float: left;
	}
		.game_show_box img{
			width:200px;
			height:130px;
			border-radius: 10px;
		}
		.game_show_box h4,h5{
			display:inline-block;
			line-height:1.5;
		}
		.game_show_box h5{
			color:#404040;
		}
		.game_show_box *{
			cursor: pointer;
		}
		.game_show_box img:hover{
			filter:saturate(120%);
		}
		.game_show_box h4:hover{
			text-decoration:underline;
		}

/* 搜索结果界面 */
#search_box{
	margin:30px;
	height:500px;
}
	#search_box h3{
		font-weight: 700;
		line-height: 30px;
		margin: 20px 0;
	}
	#search_box #search_author{
		
	}
	#search_box #search_author div{
		width:300px;
		height:100px;
		border: #808080 solid 3px;
		border-radius: 10px;
		position:relative;
		padding:10px;
		overflow:hidden;
	}
	#search_box #search_author div:hover{
		cursor: pointer;
	}
	/* 这是为了添加背景图片 */
	#search_box #search_author div::before{
		content:"";
		width:100%;height:100%;
		filter: opacity(50%);
		position: absolute;top:0;left:0;
		z-index:-1;
		background-position:center;
		background-size: cover;
	}
	#search_box #search_author div img{
		width:50px;
		height:50px;
		border-radius:50%;
	}
	#search_box #search_author div h2{
		font-size:28px;
		line-height: 50px;
		margin-left: 10px;
		display: inline-block;
		position: absolute;
		top:10px;
	}
	#search_box #search_author div h4{
		margin-top:5px;
		color: #404040;
	}

/* 个人主页 */
#author_box{
	width:1100px;
	height:500px;
	margin:20px auto;
}
	#author_box>.author_box_top{
		width:100%;
		height:200px;
		position: relative;
	}
	#author_box>.author_box_top::before{
		content:"";
		width:100%;height:100%;
		filter: opacity(50%);
		position: absolute;top:0;left:0;
		z-index:-1;
		background-position:center;
		background-size: cover;
		border-radius: 10px;
		background-image: url(../img/background/author_bg/Winter.svg);
	}
		#author_box>.author_box_top>img{
			display: block;
			float: left;
			width:150px;
			height:150px;
			border-radius:50%;
			margin:25px;
		}
		#author_box>.author_box_top>div{
			display: block;
			float: left;
			width:840px;
			height:150px;
			margin:30px;
		}
		#author_box>.author_box_top>div>div{
			overflow: hidden;
		}
			#author_box>.author_box_top>div>div>h1{
				float: left;
			}
			#author_box>.author_box_top>div>div>.tag{
				float: left;
				width: max-content;
				height: 20px;
				padding: 8px;
				margin-left: 10px;
				background-color: blue;
				border-radius: 10px;
				color:#ffffff;
				font-size:18px;
			}
			#author_box>.author_box_top>div>.pro{
				margin:10px 0;
				height:50px;
				overflow: auto;
				line-height: 1.4;
			}
			#author_box>.author_box_top>div>div>.social{
				display: block;
				width:100px;
				height:50px;
				background-position: center;
				background-size: cover;
				float: left;
				border-radius: 10px;
				text-align: center;
				line-height: 50px;
				background-color: blue;
				color:white;
				margin-right: 10px;
				font-size: 22px;
			}
				#author_box>.author_box_top>div>div>.social[type=bilibili]{
					background-image: url(../img/logo/bilibili.png);
					background-color: #d87093;
				}
			#author_box>.author_box_top>div>div>.social:hover{
				cursor:pointer;
			}
	#author_box>h2{
		font-weight: 600;
		margin:20px 0;
	}