/* logo,搜索,一堆链接 */
#h-top{
	height:50px;
	background-color: #006400;
	position: relative;
}
	.logo{
		height: 50px;
		margin-right:5px
	}
	.h-top-a-text{
		color: white;
		font-size: 20px;
		margin:15px 8px;
	}
	.h-top-a-img{
		height:30px;
		margin:10px 6px;
	}
	.search-input{
		width:200px;
		height:20px;
		margin:12px 0px 15px 15px;
	}
	.search-button{
		width:30px;
		height:20px;
		margin:12px 15px 15px 0px;
	}

/* 网页底部内容 */
#footer_img{
	width:100%;
	height:250px;
	background:url("../img/background/footer.svg") no-repeat;
	background-size:auto 230px;
	background-position: 50% 50%;
}
#h-bottom{
	width:1000px;
	height:250px;
	margin: 0px auto;
	/* background-color: darkgreen; */
}
	.footer_menu{
		width:160px;
		height:200px;
		margin:25px 20px;
		/* background-color: darkblue; */
	}
		#footer_menu1{width:300px;}
		#footer_menu4{width:220px;}
	
	.footer_menu .s_title{font-weight:700;line-height:32px;color:#808080}
	.footer_menu h4{line-height:32px}